@model ObjectModel

<h3>Détails de l'object @Model.Label</h3>

<div class="form-group">
    <div class="form-control">@Html.DisplayFor(c=>c.Description)
        @* @Html.DisplayFor(c=>c.EstimatedPrice)€  *@
    </div>
     <div class="form-control">
       Prix estimé:   @Html.DisplayFor(c=>c.EstimatedPrice)€ 
    </div>
     <div class="form-control">
       <a   href="/User/Details/@Model.Owner.IdUser"> @Model.Owner.LastName</a>
    </div>
<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" />
<!-- <a href="https://unsplash.com/fr/photos/k4-DGL44s9Y"></a> -->
<!-- <img src= "@Url.Content("https://unsplash.com/fr/photos/k4-DGL44s9Y")">
<img src="https://unsplash.com/fr/photos/k4-DGL44s9Y" alt=""> -->

@* <ul>
  @foreach (var c in Model){
    <li><a href="./Object/Details/@c.Photo"></a></li>
    <img [src]="Photo.Path">

    @Url.Content()
  }
  {
    
  }
</ul>
    *@
</div

